*{  
    font-family: sans-serif, 'montserrat';
    margin: 0;
    padding:0;
    border: border-box;
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

h2{
    font-weight: 500;
    font-size: 34px;
    color: #283654;
    margin-bottom: 60px;
}

h3{
    font-size: 24px;
    color: #444;
    margin-bottom: 20px;
}

h4{
    font-size: 20px;
    color: #283654;
    margin-bottom: 0px;
}

//animations
@keyframes slide-in{
    0%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(0);
    }

}
@keyframes slide-out{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(300px);
    }

} 

.slide-in{
    animation: slide-in 500ms ease;
}
.slide-out{
    animation: slide-out 500ms ease;
}

// multiple section styling
.about,.services,
.why,.photo-gallery,
.testimonials,.team,
.clients, .contact-us,
footer{
    padding: 50px 20px;
    @media(min-width: 900px){
        padding: 100px 20px;
    }
}

//mobile nav style
.mobile-bg{
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    z-index: 4;
    right: 0;

    i{
        position: absolute;
        color: #FFF;
        font-size: 30px;
        left: 0;
        top: 20px;
    }
    ul{
        position: absolute;
        padding: 20px;
        width: 200px;
        right: 0;
        background-color: rgba(0, 123, 225, 0.7);
        height: 100%;
    }
    a{
        color: white;
        cursor: pointer;
        font-weight: 400;
        }
    
    li{
        padding: 20px 0;
    }
}
//nav

header{
    height: 79px;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: white;
    box-shadow: 0px 0px 30px rgba(127,137,161, 0.3);

    nav{
        display: flex;
        align-items: center;
        padding: 25px 10px;

        img{
            height: 25px;
        }
        i{ 
            z-index: 6;
            font-size: 30px;
            flex:1;
            text-align: right;
            @media(min-width: 800px){
                display: none !important;
            }
        }

        ul{
            flex: 1;
            justify-content: flex-end;
            display: none;
            @media(min-width: 800px) {
                display: flex;
            }

            a{
               color: #004289;
               font-size: 14px;
               font-weight: 500;
               padding: 0 15px;
               margin-left: 15px;
            }
        }
    }
}

//hero
.hero{
    padding: 150px 0;
    background: url("/img/intro-bg.png") center bottom no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

    .flex-row{
        padding: 0px 32px;
        gap: 32px;
        flex-direction: column;
        align-items: center;
        @media(min-width: 1000px) {
            flex-direction: row;
        }
        h2{
           color: #fff;
           font-size: 40px;
           margin-bottom: 32px;
           text-align: center;
           @media(min-width: 1000px){
               text-align: initial;
               font-size: 48px;
           }
        }
    }
    .left{
        flex: 1;
        order: 2;
        justify-content: center;
        align-items: center;
        @media(min-width: 1000px){
            order: 1;
        }
    }
    .button{
        display: flex;
        flex-direction: column;
        text-align: center;
        @media(min-width: 1000px){
            flex-direction: row;
            padding: 10px 10px;
        }
    }
    .btn{
        text-align: center;
        width: 200px;
        margin-bottom: 16px;
        @media(min-width: 1000px){
            margin-right: 16px;
        }
    }
    img{
        display: flex;
        flex: 1;
        order: 1;
        width: 50%;
        @media(min-width: 1000px){
            order: 2;
        }
    }
    
}
//about us
.about{
    img{  width: 60%;
        @media(min-width: 900px){
            width: 100%;
        }
    }
    h2{
        text-align: center;
    }
    p{
        line-height: 1.7;
    }
    .flex-row{
        gap: 50px;
        flex-direction: column;
        @media(min-width: 900px){
            flex-direction: row;
        }
    }
    .left, .right{
        flex: 1;
    }
    .left{
        .flex-row{
            gap: 0;
            flex-direction: column;
            margin-top: 32px;
            align-items: center;
            @media(min-width: 500px){
                flex-direction: row;
            }
        }
        .info{
            flex: 1;
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: 20px;
            @media(min-width: 500px){
                margin-top: 0;
                align-items: initial;
            }
            p{
                color: #444;
                font-size: 14px;
            }
        }

        i{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
            border: 2px solid #007bff;
            border-radius: 50%;
            transition: 500ms ease all;
            color: #007bff;
            font-size: 24px;
            @media(min-width: 500px){
                margin-left: 16px;
            }
            &:hover{
                background-color: #007bff;
                border: transparent;
                color: #fff;
            }
        }
    }

}

.about-1{
    .left{
      text-align: center;
      @media(min-width: 500px){
      text-align: initial;
  }
    }
}
.about-1,
.about-3{
    .right{
        display: flex;
        justify-content: center;
        @media(min-width: 900px){
            align-items: start;
        }
    }
}
.about-2{
    .left{
        display: flex;
        justify-content: center;
        order: 2;
        @media(min-width: 900px){
            order: 1;
            align-items: start;
        }
    }
    .right{
        order:1;
        @media(min-width: 900px){
            order:2;
        }
    }
}
.about-2,.about-3{
    margin-bottom: 20px;
}

//services
.services{
    background-color: #ecf5ff;
    .container{
        max-width: 900px;
    }
    h2{
        text-align: center;
    }
    .grid{
        max-width: 600px;
        margin: 0 auto;
        grid-template-columns: 1fr;
        gap: 32px;
        row-gap: 50px;
        @media(min-width: 800px){
            grid-template-columns: repeat(2, 1fr);
            max-width: 100%;
        }
    }
    .flex-row{
        cursor: pointer;
        box-shadow: 0px 10px 20px 0px rgba(68, 88, 144, 0.1);
        border-radius: 12px;
        position: relative;
        overflow: hidden;
        padding: 30px;
        background-color: #fff;
        transition: 500ms ease all;
        &:hover{
            transform: translateY(-4px);
        }
        h3{
            font-size: 18px;
        }
        p{
            font-size: 14px;
            line-height: 1.7;
        }
        i{
            font-size: 64px;
            position: absolute;
            left: -10px;
            display: flex;
            align-items: center;
        }
        .right{
            margin-left: 40px;
        }
    }
}

//why us section
.why{
    background-color:#004899;
    color: #fff;
    
    h2,h3{
        text-align: center;
        color: white;
    }
    .flex-row{
       margin-top: 60px;
       gap: 60px;
    }
    .write-up{
        margin: 0 auto;
        max-width: 600px;
        flex-direction: column;
        @media(min-width:900px){
            max-width: 100%;
            flex-direction: row;
        }
    }
    .col{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        cursor: pointer;
        background-color: #00458f;
        padding: 40px;
        border-radius: 12px;
        transition: 500ms ease all;
        &:hover{
            background-color: #003b7a;
            span{
                border-bottom: #004899;
            }
        }
        span{
            max-width: 100%;
            margin-top: auto;
            padding-bottom: 4px;
            border-bottom: 2p solid transparent;
        }
        i{
           font-size: 50px;
        }
        h3{
            margin: 16px 0px;
        }
        p{
            font-size: 14px;
            margin-bottom: 32px;
        }
    }

    .analytics{
        flex-direction: column;
        margin-top: 90px;
        justify-content: space-evenly;
        align-items: center;
        @media(min-width: 700px){
           flex-direction: row;
        }
       span{
           display: block;
           text-align: center;
       }
       .number{
           font-size: 50px;
           font-weight: 600;
           margin-bottom: 10px;
       }
       .title{
           font-size: 14px;
       }
    }
    
}

//photo gallery
.photo-gallery{
    h2{
        text-align: center;
    }
    .grid{
        grid-template-columns: 1fr;
        grid-auto-rows: 125px;
        gap: 16px;
        @media(min-width: 600px){
            grid-template-columns: repeat(2,1fr);
        }
        @media(min-width:900px){
            grid-template-columns: repeat(3,1fr);
        }
    }

    //defaullt for photo gallery items
    .col{
        position: relative;
        img{
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 12px;
        }
        .bg{
            border-radius: 12px;
            transition: 5ms ease all;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
        }
        .content{
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: 500ms ease all;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;

        }
        p:nth-child(1){
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 4px;
        }
        p:nth-child(1){
            margin-bottom: 4px;
        }
        i{
            font-size: 18px;
            cursor:pointer;
            padding: 18px;
            border-radius: 50px;
            background-color: #004289;
        }

        &:hover{
            .bg{
                background-color: rgba(0, 59, 122, 0.7);
            }
            .content{
                opacity: 1;
            }
        }
    }
    .photo-1{
        grid-row: span 3;
    }
    .photo-2,.photo-6,
    .photo-7,.photo-8,
    {
        grid-row: span 4;
    }
    .photo-3,.photo-4,
    .photo-5,.photo-9{
        grid-row: span 2;
    }
    
}

//testimonials

.testimonials{
    background-color: #ecf6ff;
    box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.1);
    h2{
        text-align: center;
    }
    .owl-carousel{
        max-width: 800px;
        margin: 0 auto;
    }
    img{
        width: 120px!important;
        height: 120px;
        border: 4px solid #fff;
        border-radius: 50%;
        margin: 0 0 20px 0;
        @media(min-width: 600px){
            margin: 0px 20px 0 0;
        }
    }
    .flex-row{
        flex-direction: column;
        text-align: center;
        align-items: center;
        @media(min-width: 600px){
            flex-direction: row;
            align-items: flex-start;
            text-align: start;
        }
        h2{
            color: #111;
            margin: 0 0 8px 0;
            font-size: 20px;
            @media(min-width: 600px){
                text-align: start;
            }
        }
        h4{
            font-weight: 300;
            margin:0 0 8px 0;
            color: #999;
            font-size: 14px;
        }
        p{
            font-family: sans-serif;
            font-weight: 400;
            font-style: italic;
            color: #444;
        }
    }
}

//team
.team{
    background-color: #fff;
    h2{
        text-align: center;
    }
    .flex-row{
        gap: 32px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .col{
        position: relative;
        flex-basis: 80%;
        @media(min-width: 600px){
            flex-basis: 43%;
        }
        @media(min-width:900px){
            flex-basis: 21%;
        }
        &:hover{
            .bg{
                background-color: rgba(0, 123, 225, 0.5);
            }
            .info{
                opacity: 1;
                margin-top: 0;
            }
        }
    }
    img{
        display: block;
        width: 100%;
        border: 2px solid #fff;
        border-radius: 50%;
    }
    .bg{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        border-radius: 50%;
        transition: 500ms ease all;
    }
    .info{
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        color: #fff;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 500ms ease all;

        p:nth-child(1){
            font-size: 32px;
            margin-bottom: 8px;
            font-weight: 700;
        }
        p:nth-child(2){
            font-size: 23px;
            font-style: itallic;
        }
    }
}
   
//clients
.clients{
    background-color: #ecf5ff;
    box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.1);
    h2{
        text-align: center;
    }
    .flex-row{
        flex-wrap: wrap;
    }
    .col{
        max-height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #d6eaff;
        border-right:1px solid #d6eaff;
        border-left:1px solid #d6eaff;
        background-color: #fff;
        flex-basis: 100%;
        padding: 20px;
        @media(min-width: 500px){
            flex-basis: 100%;
            border-left: block;
        }
        @media(min-width: 900px){
            flex-basis: 20%;
        }

        &:hover{
            img{
                transform: scale(1.2);
            }
        }
  
        img{
            max-width: 80%;
            height: auto;
            transition: 500ms ease all;
        }
    }
    .col:nth-child(1){
        margin-top: 1px solid #d6eaff;
    }
    .col:nth-child(2){
        @media(min-width: 500px){
            margin-top: 1px solid #d6eaff;
        }
    }
    .col:nth-child(3),
    .col:nth-child(4){
        @media(min-width: 900px){
            margin-top: 1px solid #d6eaff;
        }
    }
    .col:nth-child(1),
    .col:nth-child(5){
        @media(min-width: 900px){
            margin-left: 1px solid #d6eaff;
        }
    }

}
//contact us
.contact-us{
    h2{
        text-align: center;
    }
    p{
        text-align: center;
        margin-bottom: 60px;
    }
    input, button{
         display: block;
    }
    input,textarea{
        width: 100%;
        padding: 8px;
        border: 1px solid #ced4da;
        &:focus{
            outline: none;
        }
    }
    input{
        margin-bottom: 16px;
    }
    textarea{
        height: 100%;
        resize: none;

    }
    form{
        max-width: 700px;
        margin: 0 auto;
    }
    .flex-row{
        flex-direction: column;
        @media(min-width: 500px){
            flex-direction: row;
            gap: 32px;
        }
    }
    .btn{
        margin-top: 16px;
        font-weight: 400px;
        &:hover{
            color: #007bff;
            border-color: #007bff;
        }
    }
}
//modal
.modal-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);

    .modal{
       text-align: center;
       padding: 50px;
       border-radius: 8px;
       background-color: #fff;

       img{
           width: 200px;
           height: auto;
           margin-bottom: 15px;
       }
       P:nth-child(2){
           font-size: 24px;
           margin-bottom: 8px;
       }
       .btn{
           margin-top: 24px;
           &:hover{
            color: #007bff;
            border-color: #007bff;
           }
       }
    }
   
}
//footer
footer{
    color: #fff;
    background-color: #004a99;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    ul{
       margin-bottom: 32px;
       flex-wrap: wrap;
       justify-content: center;      
    }
    li{
        padding: 0 15px;
        margin-bottom: 16px;

    }
    a{
        font-size: 14px;
        font-weight: 500px;
         color: #fff;
    }
    i{
        cursor: pointer;
        font-size: 30px;
    }
    p{
        text-align: center;
    }
}

//utility classes
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.flex-row{
    display: flex;
}
.btn{
    cursor: pointer;
    display: inline-block;
    padding: 14px 40px;
    background-color: #007bff;
    color: white;
    border-radius: 45px;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 500ms ease all;
    &:hover{
        background-color: transparent;
        border-color: #fff;
    }
}
.btn-light{
    background-color: transparent;
    border-color: #fff;
    &:hover{
        background-color: #007bff;
        border-color: transparent;
    }
}
.grid{
    display: grid;
}

.pink-text {
    color: #ff689b;
  }
  
  .yellow-text {
    color: #e9bf06;
  }
  
  .teal-text {
    color: #3fcdc7;
  }
  
  .green-text {
    color: #41cf2e;
  }
  
  .limeGreen-text {
    color: #d6ff22;
  }
  
  .blue-text {
    color: #4680ff;
  }
.display-none{
    display: none;
}

